@media (min-width: 320px) {
  .footer-number {
    bottom: -48rem;
  }
}

@media (min-width: 375px) {
  .footer-number {
    bottom: -49rem;
  }
}

@media (min-width: 425px) {
  .footer-number {
    bottom: -52rem;
  }
}

@media (min-width: 768px) {
  .hero-text > h1 {
    width: 50%;
    align-self: center;
  }

  .hero-text > p {
    width: 65%;
    align-self: center;
  }

  .button-container {
    flex-direction: row;
    gap: 1.5rem;
  }

  .main-info-container{
    padding-top: 5rem;
  }

  .picture-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .title-container > h3{
    width: 80%;
    text-wrap: wrap;
    align-self: center;
  }

  .main-section-text > p {
    width: 72%;
    align-self: center;
  }

  .footer-number {
    bottom: -45.2rem;
  }

  .footer-container {
    height: 20rem;
    background-image: url("./assets/tablet/image-footer.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .footer-container > p {
    width: 70%;
  }

}

@media (min-width: 1024px) {
  .footer-number {
    bottom: -56rem;
  }

  .footer-container {
    height: 19.5rem;
    background-image: url("./assets/desktop/image-footer.jpg");
    background-position: center;
  }
}

@media (min-width: 1440px) {
  .desktop-hero{
    display: flex;
    margin-top: 5rem;
  }

  .desktop-hero > img {
    height: 20rem;
  }

  .hero-text > h1 {
    width: 90%;
  }

  .hero-text > p {
    width: 80%;
  }
  .mobile-tablet-hero{
    display: none;
  }

  .footer-number {
    bottom: -37.5rem;
  }

  .footer-container {
    flex-direction: row;
    gap:1.5rem;
  }

  .footer-container > h2 {
    width: 28%;
    text-wrap: wrap;
    text-align: left;
    padding-right: 1rem;
  }

  .footer-container > p {
    width: 26%;
    text-wrap: wrap;
    text-align: left;
  }
}

@media (max-width: 1439px) {
  .desktop-hero {
    display: none;
  }

  .mobile-tablet-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}